<form class="formWrapper centered">
    <div class="inputGroup">
        <label>Something</label>
        <input type="text" class="formElement"/>
    </div>
    <div class="inputGroup">
        <label>Something Long</label>
        <input type="radio" class="formElement"/>
    </div>
    <div class="inputGroup">
        <label>Something Even Longer</label>
        <input type="checkbox" class="formElement"/>
    </div>
    <div class="inputGroup">
        <label>Something Even Longerer</label>
        <input id="test1" class="toggleSwitch" type="checkbox" checked>
        <label for="test1"></label>
    </div>
    <div class="inputGroup">
        <label>Something</label>
        <select class="formElement" name="">
            <option value="">blabla</option>
            <option value="">blabla2</option>
            <option value="">blabla3</option>
        </select>
    </div>
    <div class="inputGroup">
        <label>Something</label>
        <textarea class="formElement" cols="30" rows="10"></textarea>
    </div>
    <div class="inputGroup">
        <label>Something</label>
        <button class="btn btnCancel formElement">Cancel</button>
    </div>
    <div class="btnGroup right">
        <button class="btn btnDefault">Default</button>
        <button class="btn btnCancel">Cancel</button>
    </div>
</form>