section
{
  @include calc(width, #{"100% - " + $sideBarWidth});
  @include calc(height, #{"100% - " + $headerHeight +  " - " + $playerHeight});
  overflow-x: hidden;
  overflow-y: auto;
  .homeView
  {
    margin: 10px;
    .trackItems
    {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  .trackItem
  {
    overflow: hidden;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 250px;
    height: 250px;
    display: block;
    background: #000000;
    margin: 5px;
    float: left;
    position: relative;
    flex: 1 1 auto;
    .info
    {
      font-family: $mainFontPack;
      position: absolute;
      width: 100%;
      height: 60%;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 47%,rgba(0,0,0,0.9) 100%);
      bottom: 0;
      color: #fff;
      span
      {
        margin-left: 10px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.artistName
        {
          margin-top: 92px;
        }
        &.trackName
        {
          margin-top: 10px;
          width: 230px;
          font-size: 20px;
          height: 30px;
        }
      }
    }
  }
}