section
{
  @include calc(width, #{"100% - " + $sideBarWidth});
  @include calc(height, #{"100% - " + $headerHeight +  " - " + $playerHeight});
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  .homeView
  {
    margin: 2px;
    .trackItems
    {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  .trackItem
  {
    overflow: hidden;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    width: 200px;
    height: 200px;
    display: block;
    background: #000000;
    margin: 1px;
    float: left;
    position: relative;
    flex: 1 1 auto;
    .info
    {
      font-family: $mainFontPack;
      position: absolute;
      width: 100%;
      height: 60%;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 47%,rgba(0,0,0,0.9) 100%);
      bottom: 0;
      color: #fff;
      cursor: pointer;
      transition: all 0.2s;
      span
      {
        position: absolute;
        margin-left: 10px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        bottom: 43px;
        &.trackName
        {
          bottom: 2px;
          width: 230px;
          font-size: 20px;
          height: 30px;
        }
      }
    }
    &:hover
    {
      .info
      {
        height: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0.9) 100%,rgba(0,0,0,0.9) 100%);
        &::before
        {
          background: url('../imgs/playIcon.png') no-repeat center center rgba(0,0,0,0.2);
          background-size: 100px;
          width: 100px;
          height: 100px;
          margin: 0 auto;
          content: "";
          display: block;
          padding-top: 150px;
        }
      }
    }
  }

  .currentPageContainer
  {
    width: 100%;
    transition: all 0.2s;
    &.ng-leave
    {
      margin-left: 0;
      &.ng-leave-active
      {
        margin-left: -100% !important;
      }
    }
    &.ng-enter
    {
      margin-left: 100%;
      &.ng-enter-active
      {
        margin-left: 0 !important;
      }
    }
  }
}