header
{
  height: $headerHeight;
  overflow: hidden;
  font-family: $mainFontPack;
  box-sizing: border-box;
  border-bottom: $separatorBorder;
  background: url('../imgs/logo_bg.png') no-repeat left $mainRed;
  @include drag;

  .logo
  {
    height: 100%;
    width: $sideBarWidth;
    color: #fff;
    text-indent: 10px;
    line-height: $headerHeight;
    box-sizing: border-box;
    font-size: 18px;

    .version
    {
      font-size: 11px;
      opacity: 0.5;
      font-weight: 300;
    }
  }

  .searchBox
  {
    position: relative;
    .fa
    {
      position: absolute;
      right: 9px;
      top: 14px;
      color: $mainRed;
      font-size: 12px;
    }

    #searchInput
    {
      @include no-drag;
      padding: 2px 10px;
      font-size: 15px;
      width: 300px;
      font-family: $mainFontPack;
      font-weight: 400;
      background: white;
      transition: all 0.3s;
      border: 0;
      box-sizing: border-box;
      border-radius: 10em;
      margin-top: 7px;
      color: $mainRed;

      &::-webkit-input-placeholder
      {
        color: $mainRed;
      }
    }
  }

  .windowControls
  {
    @include no-drag;
    position: absolute;
    right: -1px;
    top: 0;
    width: 103px;
    height: 50px;
    overflow: hidden;
    li
    {
      color: #fff;
      width: 33px;
      height: $headerHeight;
      line-height: $headerHeight;
      margin-left: 1px;
      @extend .pullLeft;
      cursor: pointer;
      text-align: center;
      &:hover
      {
        background: #fff;
        color: $mainRed;
      }
    }
  }
}