aside
{
  @include calc(height, "100% - 60px");
  width: $sideBarWidth;
  box-sizing: border-box;
  border-right: $separatorBorder;

  .sideMenu
  {
    @include calc(height, "100% - 190px");
    overflow-y: auto;
    overflow-x: hidden;

    .sideMenuItem
    {
      cursor: pointer;
      font-family: "Open Sans";
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 600;
      -webkit-font-smoothing: antialiased;
      a
      {
        color: $mediumGray;
        text-decoration: none;
        padding: 13px;
        width: 100%;
        display: block;
      }
      &:hover, &.active
      {
        background: $graysGradient;
      }
      &.active
      {
        border-left:  5px solid $mediumGray;
        a
        {
          color: $darkGray;
          font-weight: bold;
        }
      }
      .fa
      {
        margin-right: 5px;
      }
    }

    .sideMenuSeparator
    {
      border-bottom: $separatorBorder;
    }
  }

  .videoPlayerBox
  {
    border-top: $separatorBorder;
    height: 200px;
    width: $sideBarWidth;
    background: $lightGray;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.3s;

    .fa
    {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: $mediumGray;
      color: $lightGray;
      text-align: center;
      line-height: 20px;
      transition: all 0.2s;

      &:hover
      {
        color: #fff;
        background: $mainRed;
      }
    }

    .video-js, video
    {
      width: $sideBarWidth;
      height: 200px;
    }

    &.expanded
    {
      bottom : $playerHeight;
      left: $sideBarWidth;
      @include calc(width, #{"100% - " + $sideBarWidth});
      @include calc(height, #{"100% - " + $headerHeight + " - " + $playerHeight});
      z-index: 10;

      &.playerMax
      {
        @include calc(height, #{"100% - " + $headerHeight + " - " + $playerOpenedHeight});
        bottom : $playerOpenedHeight;
      }

      .video-js, video
      {
        width: 100% !important;
        height: 100% !important;
      }
    }

    .vjs-control-bar
    {
      display:none;
    }
  }
}