aside
{
  @include calc(height, "100% - 60px");
  width: $sideBarWidth;
  box-sizing: border-box;
  border-right: $separatorBorder;

  .sideMenu
  {
    @include calc(height, "100% - 190px");
    overflow-y: auto;
    overflow-x: hidden;

    .sideMenuItem
    {
      padding: 10px;
      cursor: pointer;
      font-family: Arial;
      font-size: 13px;
      a
      {
        color: $mediumGray;
        font-weight: bold;
        text-decoration: none;
      }
      &:hover, &.active
      {
        background: $graysGradient;
        color: #fff;
      }
      &.active
      {
        border-right:  5px solid $mediumGray;
      }
      .fa
      {
        margin-right: 5px;
      }
    }

    .sideMenuSeparator
    {
      border-bottom: $separatorBorder;
    }
  }

  .videoPlayerBox
  {
    border-top: $separatorBorder;
    height: 200px;
    width: $sideBarWidth;
    background: $lightGray;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;

    .video-js, video
    {
      width:$sideBarWidth;
      height: 200px;
    }
  }
}